*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 13px 16px;
    cursor: pointer;
}

header{
    background-color: #FFFFFF;
    padding-top: 16px;
}

nav{
    width: 91%;
    max-width: 1470px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
}

nav .menu a{
    font-size: 16px;
    color: #000000;
    line-height: 152%;
    text-decoration: none;
}

#banner{
    /* border: 1px solid red; */
    overflow: clip;
    overflow-clip-margin: 0;
    position:relative;
    height: 674px;
    width:100%;

}

#banner img{
    max-width: 100%;
    height: auto;
}

/* #banner .banner-content{
    display: inline;
} */

#banner .banner-content{
    position: absolute;
    top: 0;
    margin: 115px 120px 180px;
    text-align: center;
    max-width: 1360px;
}

#banner .banner-content .banner-head{
    background-color: #FFFFFF;
    height: 35px;
    width: 229px;
    margin-right: 565px;
    margin-left: 565px;
    border-radius: 1000px;
    padding: 6px 0px 6px;
    gap: 6px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    text-align:center;
    line-height: auto;
}

#banner .banner-content h1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: bold;
    line-height:84px;
    text-align:center;
    margin-bottom: 16px; 
}

#banner .banner-content .banner-green{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #30B868;
    margin-bottom: 16px;
    text-align: center;
}

#banner .banner-content .banner-main{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
    color: #FFFFFF;
    text-align: center;
}

#notes .notes-container{
    width: 100%;
    max-width: 1600px;
    padding: 0 120px;
    text-align: center;
    background-color: #FFFFFF;
}

.section-heading h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.section-heading p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}

.notes-container .notes-info{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

#notes .info-card img{
    background-color: #F95555;
    height: 60px;
    width: 60px;
    color: #FFFFFF;
    padding: 14px;
    border-radius: 50%;
    margin-bottom: 16px;
}

#notes .notes-container .notes-info{
    display: flex;
    gap: 24px;
}

.notes-info .info-card{
    padding: 24px;
    background-color: #FFFFFF;
    /* border: 1px solid red; */
    max-width: 322px;
    gap: 16px;
    box-shadow: 0 6px 50px #00000010;
    border-radius: 8px;
}

.info-card h4{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.info-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}

#brain .brain-container{
    padding: 120px;
    max-width: 1600px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#brain .brain-container img{
    height: 600px;
    width: 600px;
    border-radius: 12px;
    box-shadow: 0 6px 50px #00000010 ;
}

#brain .brain-container .brain-info{
    height: 396px;
    width: 700px;
    padding: 102px 0px 102px 60px;
    text-align:left;
}

#brain .brain-container .brain-info .title{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #30B868;
    margin-bottom: 16px;
}

#brain .brain-container .brain-info h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

#brain .brain-container .brain-info p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #30B868;
    margin-bottom: 40px;  
}

#brain .brain-container .icon-info{
    max-width: 700px;
}

#brain .brain-container .icon-info img{
    height: 20px;
    width: 20px;
}

#brain .brain-container .icon-info li{
    margin-bottom: 16px;
    list-style-type: none;
    align-items:center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #001931;
    margin-bottom: 40px; 
}

#early-access-section{
    background-color: #F7F6F2;
    /* border: 1px solid red; */
    border-radius: 12px;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 40px;
}

#early-access-section .heading{
    max-width: 1280px;
    margin-bottom: 40px;
}

#early-access-section .heading h3{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

#early-access-section .heading p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 24px;
}

#early-access-section .early-access .btn{
    width: 194px;
    height: 52px;
    border-radius: 4px;
    margin-bottom: 16px;
}

#early-access-section .early-access p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 80px;
}

footer{
    max-width: 1600px;
    height: 348px;
    background-color: #001931f7;
    margin: 0 auto;
    padding: 120px 120px 30px 120px;
}

.footer-container .footer-menu{
    max-width: 1360px;
    height: 64px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

.footer-container .footer-menu img{
    width: 139px;
    height: 60px;
    gap: 790px;
}

.footer-container .footer-menu .icons p{
    width: 113px;
    height: 28px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-container .footer-menu .icons a{
    background-color: #FFFFFF;
    width: 92px;
    height: 20px;
    gap: 16px;
    border-radius: 50%;
}

.footer-container .copyright{
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fafafa;
    margin-bottom: 30px;
}